<?xml version="1.0" encoding="utf-8"?>
<!-- Google Play Services-only components. This manifest is not merged into aosp builds. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".service.AmbicFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
